/**/
/* 
 * CSS that applies to the CreateNewProject page
 */
/**/

.project-form {
    width: 40%;
}

.project-form #project-description {
    padding-bottom: 150px;
    height: 200px;
}

button {
    display: inline-block;
}

button.create{
    margin-left: 450px;
}

button.cancel {
    margin-top: 10px;
    margin-left: 500px;
}