/**/
/* 
 * CSS that applies to the ProjectTasks page
 */
/**/
div {
    margin: 0;
    padding: 0;
}

.project-name {
    font-weight: 400;
    display: inline-block;
    color: rgba(0, 0, 0, 0.692);
}

button.create-button {
    /* float: right;
    clear: right; */
    margin: 20px;
    margin-top: 10px;
}

button.cancel {
    /* float: right;
    clear: right; */
    background-color: rgb(172, 172, 172);
}

.main-page-content {
    /* background: #a3a3c2; */
    margin-top: -70px;
    z-index: 5;
}

.tasks-list {
    width: 100%;
}

.task-list-row {
    border: 3px #f0f0f5 solid;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 2px;
    /* height: 75px; */
}



.task-entry.task-list-row:hover {
    cursor: pointer;
    background-color: #cce6ff;
}

.tasks-list-header {
    background-color: #a3a3c2;
    border-radius: 5px;
}

.task-list-row .column {
    flex: 2;
}

.task-list-row .column.description {
    flex: 4;
}
.task-list-row .column.name {
    flex: 1;
}
.task-list-row .column.created-on {
    flex: 3;
}

.task-list-row .column.task-type {
    text-align: center;
}
.task-list-row .column.task-status {
    text-align: center;
}
.task-list-row .column.urgency {
    text-align: center;
}


.tasks-list a {
    color: inherit;
    background-color: #f5f5f5;
    text-decoration: none;
}