/**/
/* 
 * CSS that applies to the ProjectDetails page
 */
/**/
.project-title {
    margin: 3%;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #678CDA;
    border-radius: 5px;
}

.project-details button {
    margin-top: 15px;
}

.project-details .project-description {
    border-radius: 4px;
    margin-top: -10px;
    padding: 15px;
    height: 120px;
    width: 90%;
    background-color: #f0f0f5;
    border-radius: 7px;
    border: solid 1px lightgray;
    color: #666666;
}

button.delete-button {
    margin: 20px;
    margin-top: 10px;

}

button.delete-button:hover {
    box-shadow: -1px -1px 45px -15px rgba(0,0,0,0.75);

}

button.create-button {
    /* float: right;
    clear: right; */
    margin: 20px;
    margin-top: 10px;
}

.project-details .project-body .subsection{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.project-details .project-body .project-users.subsection {
    width: 370px;
    color: inherit;
    margin-top: 0px;
}



.project-details .subsection .subsection-row.subsection-header{
    background-color:rgb(173, 190, 197);
    font-size: 30px;
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
}

.project-details .subsection-row.subsection-header{
    background-color: gray;
    padding: 5px;
    margin-bottom: 0;
}

.project-details .subsection .subsection-row.subsection-header a{
    font-size: small;
    color: inherit;
    float:right;
    margin-top: 13px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 4px;
    text-decoration: none;
    background-color: rgb(241, 236, 236);
}

.project-details .subsection .subsection-row.subsection-header a:hover{
    background-color: rgb(177, 187, 202);
}
.project-details .subsection ul{
    border: 1px rgb(220, 228, 228) solid;
    border-top: none;
    margin-top: 0;
}

.project-details .subsection-row {
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 10px;
}

.project-details .subsection-row a{
    color: gray;
}

.project-details .subsection-row .subsection-column {
    display: inline-block;
    color: inherit;
}

.project-details .subsection-row .subsection-column.user-name{
    color: inherit;
    width: 140px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    font-size: 14px;
}

.project-details .subsection-row .subsection-column.user-role {
    margin: 0px;
    font-size: small;
    width: 100px;
    color: rgb(179, 179, 179);
}

.project-details .subsection-row .subsection-column.user-activity {
    font-size: small;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
}

.project-details .subsection-row a .user-activity:hover {
    box-shadow: 6px 15px 41px -17px rgba(0,0,0,0.75) !important;
    background-color: lightgray;
    cursor: pointer;
}

.project-details .project-body .recent-tasks.subsection {
    width: 400px;
    color: inherit;
}

.project-details .project-body .recent-tasks.subsection a.view-and-manage-tasks{
    color: black;
    
}

.project-details .project-body .recent-tasks.subsection a{
    color: gray;
}

.project-details .recent-activities {
    width: 45%;
}

.project-details .recent-activities a{
    text-decoration: none;
    color: rgb(114, 112, 112);
    margin: 0px;
}

.project-details .recent-activities .project-activity{
    min-height: 40px;
    padding: 4px;
    margin: 1px;
}
.project-details .recent-activities .project-activity:hover{
    background-color: rgba(173, 211, 247, 0.63);
}


.project-details .project-body .recent-tasks.subsection .subsection-row.subsection-list{
    padding: 5px;
    display: flex;
}
.project-details .project-body .recent-tasks.subsection .subsection-row.subsection-list:hover{
    background-color: rgb(240, 238, 238);
}

.project-details .project-body .recent-tasks.subsection a {
    text-decoration: none;
    font-size: 14px;

}

.project-details .project-body .recent-tasks.subsection .subsection-row .task-name{
    text-decoration: none;
    width: 180px;
    /* margin-right: 5px; */
}
.project-details .project-body .recent-tasks.subsection .subsection-row .task-type {
    width: 100px;
}

.project-details .project-body .recent-tasks.subsection .subsection-row .task-urgency {
    width: 100px;
}

.project-details .project-dates {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgb(146, 176, 216);
    display: inline-block;
}

.only-for-administrator {
    display: inline-block;
}