.project-title {
    margin: 3%;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #678CDA;
    border-radius: 5px;
}

.project-details button {
    margin-top: 15px;
}

.project-details .project-description {
    border-radius: 4px;
    margin-top: -10px;
    padding: 15px;
    height: 120px;
    width: 75%;
    background-color: #f0f0f5;
    border-radius: 7px;
    border: solid 1px lightgray;
    color: #666666;
}