div {
    margin: 0;
    padding: 0;
}

button.create-button {
    /* float: right;
    clear: right; */
    margin: 20px;
    margin-top: 10px;
}

div.projects-content {
    margin: 3% 3%;
    margin-top: 20px;
    background-color: #f0f0f5;
    border-radius: 7px;
    width: 100%;
}



.main-page-content {
    /* background: #a3a3c2; */
    margin-top: -70px;
    z-index: 5;
}

.projects-list {
    width: 100%;
}

.project-list-row {
    border: 1px #ccc solid;
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* height: 75px; */
}


.project-list-row .column {
    flex: 1;
}

.project-list-row .column.description {
    flex: 4;
}
