.task-details .task-description {
    border-radius: 4px;
    margin-top: -10px;
    padding: 15px;
    height: 200px;
    /* width: 30%; */
    background-color: #f0f0f5;
    border-radius: 7px;
    border: solid 1px lightgray;
    color: #666666;
}

.task-details .details {
    display: inline-block;
}

.task-details .details button {
    float: right;
}


.task-details .details .row{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(99, 79, 79);
}

.task-details .field {
    display:inline-block;
    width: 170px;
}

.task-details .entry {
    display: inline-block;
}

.task-details .task-users {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    background-color: rgb(236, 234, 234);
}

.task-details .task-users .task-users-header {
    padding: 20px;
    width: 250px;
    text-align: center;
}

.task-details .task-users .task-users-row .column {
    display: inline-block;
    width: 100px;
    padding: 0px;
    vertical-align: top;
}

.task-details .task-users .task-users-row {
    padding: 10px;
}

.task-details .task-users-header  {
    background-color:  #a3a3c2;
    border-radius: 5px;
}

.categorical-details {
    margin-top: 75px;
}

.urgency {
    width: 150px;
    margin-left: -40px;
}

.task-users-list {
    text-align: center;
}

.task-details .task-comments {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    width: 40%;
}


.task-details .task-comments .task-comments-row {
    padding: 10px;
    width: 100%;
    background-color: lightsteelblue;
    margin: 5px;

}

.task-details .task-comments .task-comments-header {
    height: 50px;
    background-color: rgb(125, 165, 218);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: x-large;
}

.task-details .task-comments .task-comments-header .more-comments {
    font-size: medium;
    float: right;
    border: 1px solid gray;
    padding: 5px;
    margin-right: 40px;
    background-color: rgb(175, 218, 238);
    border-radius: 4px;
}

.task-details .task-comments .task-comments-header .more-comments:hover {
    cursor: pointer;
    background-color: rgb(212, 229, 236);
    box-shadow: 3px 11px 32px -46px rgba(0,0,0,0.75);

}